#TopMainBox
{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 1px rgb(212, 212, 212);
    position: fixed;
    z-index: 5;
}
#TopLogoBox
{
    width: 180px;
    height: 100%;
    background-color: rgba(245, 222, 179, 0);
    float: left;
}
#TopLogo
{
    width: 65px;
    height: 65px;
    float: left;
    background-size: 100% 100%;
    background-image: url("../../icon/logo.png");
    margin-top: -10px;
    margin-right: -5px;
    margin-left: 10px;
}
/*middle box*/
#TopMainMiddleBox
{
    width: 1000px;
    height: 100%;
    background-color: rgba(0, 128, 0, 0);
    margin: auto;
}
#TopMainButtonBox
{
    width: 310px;
    height: 100%;
    background-color: rgba(255, 255, 0, 0);
    float: left;
    margin-left: 40px;
}
#TopMainSearchingBox
{
    width: 420px;
    height: 100%;
    background-color: rgba(153, 205, 50, 0);
    float: left;
}
#TopMainUser
{
    width: 220px;
    height: 100%;
    background-color: rgba(76, 0, 130, 0);
    float: right;
}

